
/*
 * Colors
 ***********************************************************/
 $black: #212121;
 $white: #fff;
/*
 * Fonts
 ***********************************************************/
 @font-face
 {
         font-family: "logo";
         src: url(../fonts/logo.ttf);
         font-weight: normal;
 }
 
 @font-face 
{
  font-family: 'ballpark';
  src: url("../fonts/ballpark.eot");
  src: url("../fonts/ballpark.eot") format("embedded-opentype"), 
       url("../fonts/ballpark.svg") format("svg"), 
       url("../fonts/ballpark.ttf") format("true-type"), 
       url("../fonts/ballpark.woff") format("woff");

       font-weight: normal;
}

@font-face 
{
  font-family: 'dayrom';
  src: url("../fonts/dayrom.eot");
  src: url("../fonts/dayrom.eot") format("embedded-opentype"), 
       url("../fonts/dayrom.svg") format("svg"), 
       url("../fonts/dayrom.ttf") format("true-type-font"), 
       url("../fonts/dayrom.woff") format("woff");
  font-weight: normal; 
}

$logo : 'ballpark';
$text_font: 'dayrom'; 

/*
 * Main styles
 ***********************************************************/
body
{
    font-family: $text_font;
    
    p 
    {
      line-height: 2rem;
	}
	
	.t_btn
	{
		border-radius: 2px;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
		color: $white;
		padding: 8px 15px;
		transition: box-shadow .5s;

		&:hover
		{
			box-shadow: 1px 5px 4px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
				
		}
	}

	 /* label color */
	 .input-field label {
		color: black;
	  }

	  .date
	  {
		  font-family: 'ubuntu';
	  }

	  .news_post-text
	  {
		//   font-family: 'ubuntu';
		  font-size: 17px;
		  font-weight: 300;
	  }
}


/*
 * Nav
 ***********************************************************/
nav ul a, nav .brand-logo 
{
  	color: white;
}

.sidenav-trigger 
{
  color: white;
}


/*
 * Banner
 ***********************************************************/
.parallax-container 
{
	padding-top: 3em;
	min-height: 380px;
	line-height: 0;
	height: auto;
	color: rgba(255,255,255,.9);
	  
	.section 
  	{
    	width: 100%;
	  }
	  
	  .intro
	  {
		  color: $black;
	  }
}


@media only screen and (max-width : 992px) 
{
	.parallax-container .section 
  	{
    	position: absolute;
    	top: 40%;
		
		#index-banner .section 
		{
			top: 10%;
		}

  	}
  
}

@media only screen and (max-width : 600px) 
{
	#index-banner .section 
	{
		top: 0;
	}
}


footer.page-footer 
{
	margin-top: 3em;
}

/*
 * Footer
 ***********************************************************/
